/* Register.css */

/* General Styles */
.registerPage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}

.containerpage {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.formContainer {
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

/* Form Group Styles */
.formGroup {
  margin-bottom: 15px;
}

.formGroup label {
  display: block;
  font-size: 1rem;
  margin-bottom: 5px;
  color: #333;
}

.formGroup input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.formGroup input:focus {
  border-color: #0056b3;
  outline: none;
}

.submitButton {
  width: 100%;
  padding: 12px;
  font-size: 1.2rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: #0056b3;
}

.submitButton:disabled {
  background-color: #a0a0a0;
  cursor: not-allowed;
}

/* Profile Image Specific Styling */
.registerPage .formGroup img {
  margin-top: 10px;
  border-radius: 5px;
  max-width: 100px;
  object-fit: cover; /* Ensure image is scaled properly */
}

/* Uploading message */
.uploading {
  font-size: 0.9rem;
  color: #007bff;
}
